<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Log in</h1>
<form action="" method="POST">
  {% csrf_token %}
  <div>
      {{ form.username.label }}
      {{ form.username }}
  </div>
    <div>
      {{ form.password.label }}
      {{ form.password }}
  </div>
    {% if messages %}
        {% for message in messages %}
        <p style="color: red">{{ message }}</p>
        {% endfor %}
    {% endif %}
  <button type="submit">Login</button>
</form>
</body>
</html>