<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

<h3>Register</h3>
<form action="" method="POST">
    {% csrf_token %}
    <div>
        {{ form.username.label }}
        {{ form.username }}
    </div>
    <div>
        {{ form.email.label }}
        {{ form.email }}
    </div>
    <div>
        {{ form.name.label }}
        {{ form.name }}
        {% for error in form.name.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </div>
    <div>
        {{ form.password1.label }}
        {{ form.password1 }}
        {% for error in form.password1.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </div>
    <div>
        {{ form.password2.label }}
        {{ form.password2 }}
        {% for error in form.password2.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </div>
    <button type="submit">Register</button>
</form>

<script>
   $("#id_username").change(function () {
      var username = $(this).val();
      $.ajax({
            url: '/validate_username/',
            data: {
                'username': username
            },
            dataType: 'json',
            success: function (data) {
                 if (data.is_taken) {
                    $("#user_error").remove();
                    $("#id_username").after("<p style='color: red' id='user_error'>Username is already taken!</p>");
                 } else {
                    $("#user_error").remove();
                    $("#id_username").after("<p style='color: green' id=user_error>✓</p>");
                 }
            }
      });
   });

  $("#id_email").change(function () {
  var email = $(this).val();
  $.ajax({
        url: '/validate_email/',
        data: {
            'email': email
        },
        dataType: 'json',
        success: function (data) {
             if (data.is_taken) {
                 $("#email_error").remove();
                 $("#id_email").after("<p style='color: red' id='email_error'>Email is already taken! (Or invalid email)</p>");
             } else {
                 $("#email_error").remove();
                 $("#id_email").after("<p style='color: green' id='email_error'>✓</p>");
             }
        }
      });
   });

  $("#id_password1").change(function () {
  var password = $(this).val();
  $.ajax({
        url: '/validate_password/',
        data: {
            'password': password
        },
        dataType: 'json',
        success: function (data) {
             if (!data.allowed) {
                 $("#password_error").remove();
                 $("#id_password1").after("<p style='color: red' id='password_error'>Password has to be more than 8 characters!</p>");
             } else {
                 $("#password_error").remove();
                 $("#id_password1").after("<p style='color: green' id='password_error'>✓</p>");
             }
        }
      });
   });
</script>

</body>
</html>